option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NODE_ENV: development
    # database
    MONGO_URI: mongodb://hogipay:krypto123@hogipay.cgcpvpk08ltn.eu-west-2.docdb.amazonaws.com:27017/hogiv2?retryWrites=false

    JWT_SECRET=&MC#8nE9ApmnBD&e3XH5t#Taxsx@TAgBYpziNYdc

    #blockcypher
    BLOCKCYPHER_URL=https://api.blockcypher.com
    BLOCKCYPHER_API_VERSION=v1
    BLOCKCYPHER_API_ENV=main
    BLOCKCYPHER_API_TOKEN=237297d1063a4892b8da0d49abd616c5

    #infura
    INFURA_NETWORK: https://mainnet.infura.io/v3/eadc24d23a634c5e9a288a1b3c99682d
    INFURA_WS: wss://mainnet.infura.io/ws/v3/eadc24d23a634c5e9a288a1b3c99682d

    chain=mainnet
    chainID=1

    #etherscan
    ETHERSCAN_EXPLORER_URL=https://etherscan.io/
    ETHERSCAN_API_URL=https://api.etherscan.io
    ETHERSCAN_API_KEY=GIX8SDXWGSK2Q3JFXBQIIZIT3TKIXKHGMH

    #bscscan
    BSCSCAN_EXPLORER_URL=https://bscscan.com/
    BSCSCAN_API_URL=https://api.bscscan.com
    BSCSCAN_API_KEY=TKE3E53HPVXNXQ4FWEBTU7H1MKQZY5JBFB

    WEBHOOK_CALL_BACK_BASE_URL=https://v2.hogiwallet.com

    ROOT_UPLOAD_DIR=coinIcons

    #AWS:
    AWS_ACCESS_KEY: AKIA3N6EZBSY6JPXZMFN
    AWS_SECRET_KEY: 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
    AWS_BUCKET: hogi2bucket
    AWS_REGION: eu-west-2

    #Moralis:
    MORALIS_APP_ID: S5PWgRfCoLL7UIJEhcyhRmxxLaoJSXFckZom19y4
    MORALIS_SERVER_URL: https://sorcjhfu3ox7.usemoralis.com:2053/server

    BINANCE_RPC_URL: https://bsc-dataseed.binance.org





